<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<context:component-scan base-package="xyz.goudan.*"></context:component-scan>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/ssm?serverTimezone=UTC"></property>
		<property name="username" value="root"></property>
		<property name="password" value="shxjia"></property>
	</bean>


	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="typeAliasesPackage" value="xyz.goudan.pojo"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="xyz.goudan.mapper"></property>
		<property name="sqlSessionFactory" ref="factory"></property>
	</bean>

	<bean id="usersLoginService" class="xyz.goudan.service.impl.UsersLoginServiceImpl">
		<property name="usersLoginMapper" ref="usersLoginMapper"></property>
	</bean>

	<bean id="usersInfoService" class="xyz.goudan.service.impl.UsersInfoServiceImpl">
		<property name="usersInfoMapper" ref="usersInfoMapper"></property>
	</bean>



</beans>